<launch>
  <arg name="model" default="romipi" doc="Pololu Romi"/>

  <param name="tb3_model" value="$(arg model)"/>

  <include file="$(find romipi_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg model)" />
  </include>

  <node pkg="romipi_fake" type="romipi_fake_node" name="romipi_fake_node" output="screen" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find romipi_fake)/rviz/romipi_fake.rviz"/>
</launch>
